/* To adjust everything the first version I started using margin, somehow I couldn't do the padding for the borders in the future section, 
I changed everything from margin to position relative,left, and now I can edit the padding. #changes; as I added the position reLative my screen 
was wider to the right and added automatically more background color, I changed it now from position absolute to padding-left.*/


/* body {  
    background-image: linear-gradient(to right, beige 0%, beige 30%, hsl(164, 61%, 65%) 50%, hsl(164, 61%, 65%) 100% )
}  */

 body {    
    background-image: linear-gradient(45deg, beige 0%, beige 40%, hsl(164, 61%, 65%) 50%, hsl(164, 61%, 65%)100%)
} 

h1 {
    color: hsl(240, 33%, 77%);
    font-family: Brush Script MT;
    font-size: 45px;
    margin-top: 80px;
    margin-left: 30px;
    position: absolute;
}

.profile {
    width: 130px;
    border-radius: 15px 50px 30px 5px;
    border-style: solid;
    border-width: 4px;
    border-color: grey;
    margin-left: 40%;
    margin-top: 20px;
}

.profile, h1 {
    display: inline-block;
}
 h2 {
    font-family: Brush Script MT;
    font-size: 30px;
    /* position: relative; left: 20%; */
    margin-top: 20px;
    margin-left: 20%;
 }

 p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 25%;
 }

 .career {
    font-family: Brush Script MT;
    font-size: 30px;
    left: 40%;
    margin-top: 40px;
    /* position: relative;left: 30%; */
    /* margin-left: 30%; */
    padding-left: 10%;
 }

 .cc {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 33%;
 }
 .cpb {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 38%;
 }
 .cy {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 43%;
 }
 .cp {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 48%;
 }

 li {
    line-height: 150%;
    list-style-type:circle;
 }

 .future {
    font-family: Brush Script MT;
    font-size: 30px;
    left: 40%;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 30%;
    /* position: relative;left: 54%; */
    /* margin-left: 52%; */
 }

#flex { 
    border-style: solid;
    border-width: 3px;
    border-color:hsl(240, 33%, 77%) ; 
    border-radius: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* margin-left: 30%; */
    position: relative;left: 30%;
    padding: 8px;
    letter-spacing: 8px 
}

#income {
    /* margin-left: 20%; */
    position: relative;left: 50%;
    padding: 8px;
    border-style: solid; 
    border-width: 3px; 
    border-color:hsl(240, 33%, 77%) ; 
    border-radius: 15px 50px 30px 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    letter-spacing: 8px 
}

#freedom {
    /* margin-left: 52%;  */
    position: relative;left: 25%;
    margin-right: 66%;
    padding: 8px;
    border-style: solid;
    border-width: 3px; 
    border-color:hsl(240, 33%, 77%) ; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    letter-spacing: 8px 
    
}

#challenge {
    /* margin-left: 20%; */
    position: relative;left: 20%;
    padding: 8px;
    border-style: solid;
    border-width: 3px; 
    border-color:hsl(240, 33%, 77%) ; 
    border-radius: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    letter-spacing: 8px 
}

#skills {
    /* margin-left: 32%; */
    position: relative;left: 50%;
    padding: 8px;
    border-style: solid;
    border-width: 3px; 
    border-color:hsl(240, 33%, 77%);
    border-radius: 5px; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    letter-spacing: 8px 
}

div img { 
    height: 30px;
    display:inline-block;
    margin-top: 20px;
}

a {
    background-image: linear-gradient( 
      to right,
      #54b3d6,
      #54b3d6 50%,
      #000 50%
    ); 
    background-size: 200% 100%; 
    background-position: -100%; 
    display: inline-block; 
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 15px;
    position: relative;left: 40%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s ease-in-out;
  }
  
  a:before { 
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
   a:hover { 
   background-position: 0;
  } 
  
  a:hover::before {
    width:100%;
  }

  .hover {
    background-color: #000;
    display: none;
    border: solid 4px;
    padding: 8px;
  }
  img:hover + h1 {
  display: inline;
  }