body {
    background-image: linear-gradient(to right, beige 0%, beige 30%, hsl(164, 61%, 65%) 50%, hsl(164, 61%, 65%) 100%)
}

h1 {
    color: hsl(240, 33%, 77%);
    font-family: Brush Script MT;
    font-size: 40px;
    margin-top: 80px;
    margin-left: 30px;
    position: absolute;
}

img {
     width: 130px;
    border-radius: 15px 50px 30px 5px;
    border-style: solid;
    border-width: 4px;
    border-color: grey;
    margin-left: 40%;
    margin-top: 20px;
}

h1, img {
    display: inline-block;
}
 h2 {
    font-family: Brush Script MT;
    font-size: 30px;
    left: 40%;
    margin-top: 40px;
    margin-left: 40%;
 }

